@font-face{
    font-family: OpenSansCondensed-Light;
    src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: OpenSansCondensed-Bold;
    src: url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}